<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koitt.tim.dao.admin.AnswerDao">
	<select id="selectAllAnswer" resultType="AnswerDto">
		select * from answer
	</select>
	
	<insert id="insertAnswer">
	insert into ANSWER 
	values(lpad(q_ask_seq.nextval,4,0),#{q_num},
	#{a_content},
	sysdate)
	</insert>
	
	<delete id="deleteAnswer">
		delete answer where a_num=#{param1}
	</delete>
	
	<update id="updateAnswer">
		update answer set 
		a_content=#{a_content}, 
		a_date=sysdate 
		where a_num = #{a_num}
	</update>
</mapper>