<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koitt.tim.dao.question.QuestionDao">
	<insert id="insertQuestion" parameterType="QuestionDto">
		insert into question values
		(lpad(question_seq.nextval,4,0),
		 #{id, jdbcType=VARCHAR},
		 #{q_title},
		 #{q_content, jdbcType=VARCHAR},
		 sysdate,
		 #{q_type},
		 #{q_file, jdbcType=VARCHAR})
	</insert>
	
	<select id="selectAllQuestion" resultType="QuestionDto">
		select * from question order by q_date desc
	</select>

	<!--  분류만 가져오기 -->
	<select id="selectAllQType" resultType="string">
	select distinct q_type from question
	</select>
</mapper>