<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koitt.tim.dao.order.OrderDao">

    <insert id="insertOrder" parameterType="OrderDto">
        insert into "ORDER"
        values (concat(#{date},ORDER_SEQ.nextval),
                #{id},
                #{orderPoint},
                '접수대기',
                #{orderName},
                #{orderTel},
                #{orderCost},
                sysdate)
    </insert>

    <select id="selectOrderNum1" parameterType="String">
        select "o_num" from "ORDER" where "id"=#{id} and rownum =1  order by O_DATE desc
    </select>

    <select id="selectOrderNumList" resultType="String">
        select * from "ORDER" where "id"=#{id}
    </select>


    <insert id="insertOrderList" parameterType="OrderListDto">
        insert into "ORDER_LIST"
        values (concat(#{convertedDate},lpad(
            ORDER_SEQ.nextval,5,0)),
                #{orderNumber},
                ${pro_num},
                ${spinner},
                ${pro_price},
                ${pro_name})
    </insert>


    <select id="selectOrderCount" resultType="int">
<!--         select count(*) from "ORDER" where "id"=#{id} -->
        select count(*) from "ORDER" where "id"=#{id}
    </select>

    <!-- 회원 주문조회 -->
    <select id="selectOrderList" resultType="orderListDto">
        select col1.o_date, col1."o_num", col2.product_name, col2.PRICE, col2."o_quant", col1.o_status,col2."pro_num"
            from  ORDER_LIST col2, "ORDER" col1 where col1."o_num" = col2."o_num" and col2."o_num" = #{orderNum}
    </select>

	<!-- 아래부터 비회원 -->
	<!-- 비회원 주문조회 (아이디조회)-->
	<select id="selectOrderOne" resultType="OrderDto">
		select *  from "ORDER" where "o_num"=#{o_num} and "o_tel"=#{o_tel}
	</select>

	<!--비회원..(아이디없이 주문번호에 해당하는 것만 다 가져옵니다. -->
	<select id="selectOrderListNone" resultType="orderListDto">
      select ROWNUM,col.* from (select col1.o_date,col1.o_update_date, col1."o_num", col2.product_name, col2.PRICE, col2."o_quant", col1.o_status,col2."pro_num",col2.key from "ORDER" col1,ORDER_LIST col2 where col2."o_num"=col1."o_num" and col2."o_num"= #{orderNum}) col  left outer join change c on col.key=c.key where
c.key is null and ROWNUM <![CDATA[ >= ]]> #{p1}
          and ROWNUM <![CDATA[ <= ]]> #{p2}
    </select>

    <!-- 반품교환신청시 해당 주문목록 불러가는 것 -->
    <select id="selectOrderListOne" resultType="orderListDto">
    	select  col1.o_date, col1."o_num", col2.product_name, col2.PRICE, col2."o_quant", col1.o_status,col2."pro_num",col2.key from "ORDER" col1,ORDER_LIST col2 where col2."o_num"=col1."o_num" and col2."o_num"= #{orderNum} and col2.key=#{key}
    </select>

    <!-- 주문취소, 구매확정, 주문취소를 취소~~ -->
    <update id="updateOrderOne">
    	update  "ORDER" set o_status=#{o_status} where "o_num"=#{orderNum}
    </update>

     <!-- 구매확정시 update date갱신 -->
    <update id="updateOrderDate">
    	update  "ORDER" set O_UPDATE_DATE=<![CDATA[sysdate]]> where "o_num"=#{orderNum}
    </update>


    <!-- 반품교환현황 페이지 -->
    <select id="selectClaimListNone" resultType="orderListDto">

    	select  ROWNUM,col3.c_state,col3."c_type",col.* from (select col1.o_date, col1."o_num", col2.product_name, col2.PRICE, col2."o_quant", col1.o_status,col2."pro_num",col2.key from "ORDER" col1,ORDER_LIST col2 where col2."o_num"=col1."o_num" and col2."o_num"= #{orderNum}) col,change col3  where col.key=col3.key and ROWNUM <![CDATA[ >= ]]> #{p1}

          and ROWNUM <![CDATA[ <= ]]> #{p2}
    </select>


    <!-- admin 모든 주문 가져오기 -->
    <select id="selectAllOrder" resultType="OrderDto">
        select * from "ORDER" order by "o_num" desc
    </select>

    <!-- admin 모든 주문내역 가져오기 -->
    <select id="selectAllOL" resultType="OrderListDto">
        select * from ORDER_LIST order by "o_num" desc
    </select>

    <!-- 주문에 있는 상품정보들 -->
    <select id="selectOrderProInfo" resultType="ProductDto">
        select distinct p.PRO_NUM, p.PRODUCT_NAME, p.FRONT_IMAGE1
        from (select "pro_num" from "ORDER" o , ORDER_LIST ol where o."o_num" = ol."o_num") pn, product p
        where pn."pro_num" = p.PRO_NUM
    </select>

    <!-- 주문상태 변경 -->
    <select id="updateOrderStatus">
        update "ORDER" set O_STATUS = #{param2} where "o_num"=#{param1}
    </select>

    <!-- 주문확인 이미지 썸네일 포함 -->
    <select id="selectOrderConfirmList" resultType="OrderListDto">
     select p.front_image1,col.* from (select col1.o_date,col1.o_update_date, col1."o_num", col2.product_name, col2.PRICE, col2."o_quant", col1.o_status,col2."pro_num",col2.key from "ORDER" col1,ORDER_LIST col2 where col2."o_num"=col1."o_num" and col2."o_num"=#{o_num}) col  left outer join product p on col."pro_num"=p.pro_num
    </select>

     <select id="selectOrder" resultType="OrderDto">
     select * from  "ORDER"  where "o_num"=#{o_num}
    </select>


    <!-- 장바구니형 구매>주문 -->
    <insert id="insertOrderOne" parameterType="GetOrderNum">
    	insert into "ORDER" ("o_num","id","o_point",o_status,"o_name","o_tel","o_cost",o_date,o_update_date) values(concat(#{orderDay},lpad(ORDER_SEQ.nextval,5,0)),#{id},#{o_point},#{o_status},#{o_name},#{o_tel},#{o_cost},sysdate,sysdate)
    	<selectKey keyProperty="num"  resultType="int" order="AFTER">
    		SELECT ORDER_SEQ.currval AS num FROM DUAL
    	</selectKey>
    </insert>
    <!-- 주문리스트 생성 -->
    <insert id="insertOrderlistOne">
    	insert into ORDER_LIST values(
    	concat(#{orderDay},lpad(ORDERLIST_SEQ.nextval,5,0)),
                #{o_num},
                #{pro_num},
                #{o_quant},
                #{product_price},
                #{product_name})
    </insert>

</mapper>
