<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koitt.tim.dao.board.NoticeDao">
	<select id="selectAllNotice" resultType="NoticeDto">
		select * from notice
	</select>
	
	<insert id="insertNotice" parameterType="NoticeDto">
		insert into notice values
		(notice_seq.nextval, #{n_title}, #{n_content}, sysdate ,0)
	</insert>

</mapper>