<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koitt.tim.dao.member.MemberDao">

	<select id="selectAllMember" resultType="MemberDto">
		select * from member
	</select>

	<select id="selectOneMember" resultType="MemberDto">
		select * from member where id=#{id}
	</select>

	<insert id="insertMember" parameterType="MemberDto">
		insert into member (ID, NAME, PW, EMAIL, EMAIL_CHECK, ADDRESS1, ADDRESS2, ADDRESS3, PHONE, SMS, TEL, BIRTH, CALENDER_CHECK, point, JOIN_DATE)
			values (#{id}, #{name}, #{pw}, #{email}, #{email_check}, #{address1}, #{address2}, #{address3}, #{phone}, #{sms}, #{tel}, #{birth}, #{calender_check}, #{point}, sysdate)
	</insert>

	<update id="modifyMember">
		update MEMBER set NAME = #{p2}, ADDRESS1 = #{p3}, ADDRESS2=#{p4},ADDRESS3=#{p5},PHONE=#{p7},TEL=#{p8},EMAIL=#{p9} where ID=#{p1}
	</update>
	
	<select id="selectSearchMemberId" resultType="String">
		select ID from member where name=#{name} and email=#{email}
	</select>

	<select id="selectSearchMemberPw" resultType="String">
		select PW from member where ID=#{id} and email=#{email}
	</select>

	<select id="selectMemberPoint" resultType="int">
		select point from MEMBER where id=#{id}
	</select>
	
	<update id="updateMember">
		update member set pw=#{pw}, email=#{email}, email_check=#{email_check}, address1=#{address1}, address2=#{address2}, address3=#{address3},
			phone = #{phone}, sms=#{sms}, tel=#{tel}, birth=#{birth}, calender_check=#{calender_check} where id=#{id}
	</update>

</mapper>