<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koitt.tim.dao.member.MemberDao">

	<select id="selectAllMember" resultType="MemberDto">
		select * from member
	</select>

	<select id="selectOneMember" resultType="MemberDto">
		select * from member where id=#{id}
	</select>

	<insert id="insertMember" parameterType="MemberDto">
		insert into member (ID, NAME, PW, EMAIL, EMAIL_CHECK, ADDRESS1, ADDRESS2, ADDRESS3, PHONE, SMS, TEL, BIRTH, CALENDER_CHECK, point, JOIN_DATE)
			values (#{id}, #{name}, #{pw}, #{email}, #{email_check}, #{address1}, #{address2}, #{address3}, #{phone}, #{sms}, #{tel}, #{birth}, #{calender_check}, #{point}, sysdate)
	</insert>

	<update id="modifyMember" parameterType="MemberDto">
		update MEMBER set NAME = #{name}, ADDRESS1 = #{address1}, ADDRESS2=#{address2},ADDRESS3=#{address3},PHONE=#{phone},TEL=#{tel},PW=#{pw},EMAIL=#{email} where ID=#{id}

	</update>

</mapper>