<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koitt.tim.dao.event.EventDao">
	<resultMap type="MemberDto" id="eventMemberMap"/>
	<resultMap type="CouponDto" id="couponMap"/>
	<resultMap type="EventDto" id="eventMap"/>
	<resultMap type="EventReplyDto" id="replyMap"/>
	<resultMap type="EventReplyBean" id="eventReplyBean"/>


    <!-- 이벤트글 리스트 search-->
    <select id="selectSearchEvent" resultMap="eventMap">
       select *from (select ROWNUM rnum, e.*from (select *from event where (to_char(event_end, 'yyyy-MM-dd') <![CDATA[>= ]]>to_char(sysdate, 'yyyy-MM-dd'))
          <choose>

          	<when test="opt!='' and opt.equals('all') and key!=''">
          	 and (event_title like '%' || #{key} || '%' or event_content like '%' || #{key} || '%' ) 
			</when>
          	<when test="opt!='' and opt.equals('tit') and key!=''">
          	 and event_title like  '%' || #{key} || '%' 
          	</when>
          	<when test="opt!='' and opt.equals('con') and key!=''">
          	 and event_content like  '%' || #{key} || '%' 
          	</when>
          	<otherwise>

          	</otherwise>
          </choose>
            ORDER BY event_start desc,event_regist desc) e)
      	  where rnum <![CDATA[ >= ]]> #{p1}
          and rnum <![CDATA[ <= ]]> #{p2}
    </select>
	<!-- 이벤트글 개수 search-->
    <select id="selectSearchListCount" resultType="int">
        select count(*)
        from event
        where 
        to_char(event_end, 'yyyy-MM-dd')<![CDATA[ >= ]]> to_char(sysdate, 'yyyy-MM-dd')
    	<choose>
          	<when test="opt!='' and opt.equals('all') and key!=''">
          	and (event_title like  '%' || #{key} || '%'  or event_content like  '%' || #{key} || '%' ) 
          	</when>
          	<when test="opt!='' and opt.equals('tit') and key!=''">
          	 and event_title like  '%' || #{key} || '%' 
          	</when>
          	<when test="opt!='' and opt.equals('con') and key!=''">
          	 and event_content like  '%' || #{key} || '%' 
          	</when>
          	<otherwise>
          	 
          	</otherwise>
        </choose>
    </select>

    <!-- 글보기>현재글 -->
	<select id="selectEventView" resultMap="eventMap">
		select * from ( select ROWNUM rnum, e.* from(
		select *
		from event
		where to_char(event_end,'yyyy-MM-dd') <![CDATA[ >= ]]> to_char(sysdate,'yyyy-MM-dd')
		ORDER BY event_start desc,event_regist desc) e)
		where event_num=#{param1}
	</select>
	
	
	<!-- 글보기>이전글 -->
	<select id="selectEventPre" resultMap="eventMap">
		select * from ( select ROWNUM rnum, e.* from(
		select *
		from event
		where to_char(event_end,'yyyy-MM-dd') <![CDATA[ >= ]]> to_char(sysdate,'yyyy-MM-dd')
		ORDER BY event_start desc,event_regist desc) e)
		where rnum=(#{rnum}+1)
	</select>
	<!-- 다음글 -->
	<select id="selectEventNext" resultMap="eventMap">
		select * from ( select ROWNUM rnum, e.* from(
		select *
		from event
		where to_char(event_end,'yyyy-MM-dd') <![CDATA[ >= ]]> to_char(sysdate,'yyyy-MM-dd')
		ORDER BY event_start desc,event_regist desc) e)
		where rnum=(#{rnum}-1)
	</select>
	
	<!-- 글보기 쿠폰 -->
	<select id="selectEventCoupon" resultMap="couponMap">
		select c.* from event e,coupon c where e.event_num=#{param} and e.coupon_num=c.coupon_num
	</select>
	
	
	<!-- 종료이벤트 -->
	<!-- 이벤트글 리스트 search-->
    <select id="selectFinSearchEvent" resultMap="eventMap">
       select *from (select ROWNUM rnum, e.*from (select *from event where (to_char(event_end, 'yyyy-MM-dd') <![CDATA[< ]]>to_char(sysdate, 'yyyy-MM-dd'))
          <choose>

          	<when test="opt!='' and opt.equals('all') and key!=''">
          	 and (event_title like '%' || #{key} || '%' or event_content like '%' || #{key} || '%' ) 
			</when>
          	<when test="opt!='' and opt.equals('tit') and key!=''">
          	 and event_title like  '%' || #{key} || '%' 
          	</when>
          	<when test="opt!='' and opt.equals('con') and key!=''">
          	 and event_content like  '%' || #{key} || '%' 
          	</when>
          	<otherwise>

          	</otherwise>
          </choose>
            ORDER BY event_start desc,event_regist desc) e)
      	  where rnum <![CDATA[ >= ]]> #{p1}
          and rnum <![CDATA[ <= ]]> #{p2}
    </select>
	<!-- 이벤트글 개수 search-->
    <select id="selectFinSearchListCount" resultType="int">
        select count(*)
        from event
        where 
        to_char(event_end, 'yyyy-MM-dd')<![CDATA[ < ]]> to_char(sysdate, 'yyyy-MM-dd')
    	<choose>
          	<when test="opt!='' and opt.equals('all') and key!=''">
          	and (event_title like  '%' || #{key} || '%'  or event_content like  '%' || #{key} || '%' ) 
          	</when>
          	<when test="opt!='' and opt.equals('tit') and key!=''">
          	 and event_title like  '%' || #{key} || '%' 
          	</when>
          	<when test="opt!='' and opt.equals('con') and key!=''">
          	 and event_content like  '%' || #{key} || '%' 
          	</when>
          	<otherwise>
          	 
          	</otherwise>
        </choose>
    </select>

    <!-- 글보기>현재글 -->
	<select id="selectFinEventView" resultMap="eventMap">
		select * from ( select ROWNUM rnum, e.* from(
		select *
		from event
		where to_char(event_end,'yyyy-MM-dd') <![CDATA[ < ]]> to_char(sysdate,'yyyy-MM-dd')
		ORDER BY event_start desc,event_regist desc) e)
		where event_num=#{param1}
	</select>
	
	
	<!-- 글보기>이전글 -->
	<select id="selectFinEventPre" resultMap="eventMap">
		select * from ( select ROWNUM rnum, e.* from(
		select *
		from event
		where to_char(event_end,'yyyy-MM-dd') <![CDATA[ < ]]> to_char(sysdate,'yyyy-MM-dd')
		ORDER BY event_start desc,event_regist desc) e)
		where rnum=(#{rnum}+1)
	</select>
	<!-- 다음글 -->
	<select id="selectFinEventNext" resultMap="eventMap">
		select * from ( select ROWNUM rnum, e.* from(
		select *
		from event
		where to_char(event_end,'yyyy-MM-dd') <![CDATA[ < ]]> to_char(sysdate,'yyyy-MM-dd')
		ORDER BY event_start desc,event_regist desc) e)
		where rnum=(#{rnum}-1)
	</select>
	
	
	
	
	
	
	<!-- 글보기>댓글,멤버가져오기 -->
	<select id="selectEventReply" resultMap="eventReplyBean">
		select re.*,mem.name from EVENT_REPLY re,member mem where event_num=#{param1} and re.id=mem.id order by re.event_re_regist desc
	</select>
	<!-- 댓글개수 -->
	<select id="selectReplyCount" resultType="int">
		select count(*) from EVENT_REPLY where event_num=#{param1}
	</select>
	
	
	<!-- event reply insert -->
	<insert id="insertEventReply">
		insert into EVENT_REPLY values
		(concat('ere',lpad(ev_re_seq.nextval,3,0)),
		#{id},
		#{event_num, jdbcType=VARCHAR},
		#{pw},
		#{event_re_content, jdbcType=VARCHAR},
		sysdate,
		sysdate
		)
	</insert>
	<!-- event reply update -->
	<update id="updateEventReply">
		update EVENT_REPLY set event_re_content=#{event_re_content},event_re_modify=sysdate where event_re_num=#{event_re_num}
	</update>
	<!-- event reply delete -->
	<delete id="deleteEventReply">
		delete from EVENT_REPLY where event_re_num=#{event_re_num}
	</delete>
	
	
	
	<!-- event insert-->
	<insert id="insertEvent" parameterType="EventDto">
		insert into EVENT values
		(concat('ev',lpad(ev_seq.nextval,3,0)),
		 #{coupon_num, jdbcType=VARCHAR},
		 #{event_title},
		 #{event_content, jdbcType=VARCHAR},
		 #{event_image1},
		 #{event_image2, jdbcType=VARCHAR},
		 sysdate,
		 #{event_start},
		 #{event_end})
	</insert>

	<!-- 지난날짜까지 모두 다 select -->
	<select id="selectEventforA" resultType="EventDto">
		select * from EVENT order by event_num desc
	</select>
</mapper>        