<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koitt.tim.dao.event.EventDao">

    <!-- 이벤트글 리스트 search-->
    <select id="selectSearchEvent" resultType="EventDto">
       select *from (select ROWNUM rnum, e.*from (select *from event where (to_char(event_end, 'yyyy-MM-dd') <![CDATA[>= ]]>to_char(sysdate, 'yyyy-MM-dd'))
          <choose>
          	<when test="opt!='' and opt.equals('all') and key!=''">
          	 and (event_title like '%' || #{key} || '%' or event_content like '%' || #{key} || '%') 
          	</when>
          	<when test="opt!='' and opt.equals('tit') and key!=''">
          	 and event_title like '%' || #{key} || '%'
          	</when>
          	<when test="opt!='' and opt.equals('con') and key!=''">
          	 and event_content like '%' || #{key} || '%'
          	</when>
          	<otherwise>
          	</otherwise>
          </choose>
            ORDER BY event_start desc) e)
      	  where rnum <![CDATA[ >= ]]> #{p1}
          and rnum <![CDATA[ <= ]]> #{p2}
    </select>
	<!-- 이벤트글 개수 search-->
    <select id="selectSearchListCount" resultType="int">
        select count(*)
        from event
        where 
        to_char(event_end, 'yyyy-MM-dd')<![CDATA[ >= ]]> to_char(sysdate, 'yyyy-MM-dd')
    	<choose>
          	<when test="opt!='' and opt.equals('all') and key!=''">
          	and (event_title like '%' || #{key} || '%' or event_content like '%' || #{key} ||'%') 
          	</when>
          	<when test="opt!='' and opt.equals('tit') and key!=''">
          	 and event_title like '%' || #{key} || '%'
          	</when>
          	<when test="opt!='' and opt.equals('con') and key!=''">
          	 and event_content like '%' || #{key} || '%'
          	</when>
          	<otherwise>
          	 
          	</otherwise>
        </choose>
    </select>
    
    <!-- 글보기>현재글 -->
	<select id="selectEventView" resultType="EventDto">
		select * from ( select ROWNUM rnum, e.* from(
		select *
		from event
		where to_char(event_end,'yyyy-MM-dd') <![CDATA[ >= ]]> to_char(sysdate,'yyyy-MM-dd')
		ORDER BY event_start desc) e)
		where event_num=#{param1}
	</select>
	<!-- 글보기>이전글 -->
	<select id="selectEventPre" resultType="EventDto">
		select * from ( select ROWNUM rnum, e.* from(
		select *
		from event
		where to_char(event_end,'yyyy-MM-dd') <![CDATA[ >= ]]> to_char(sysdate,'yyyy-MM-dd')
		ORDER BY event_start desc) e)
		where rnum=(#{rnum}-1)
	</select>
	<!-- 글보기>다음글 -->
	<select id="selectEventNext" resultType="EventDto">
		select * from ( select ROWNUM rnum, e.* from(
		select *
		from event
		where to_char(event_end,'yyyy-MM-dd') <![CDATA[ >= ]]> to_char(sysdate,'yyyy-MM-dd')
		ORDER BY event_start desc) e)
		where rnum=(#{rnum}+1)
	</select>
	<!-- 글보기>쿠폰있으면 가져오기 -->
	<select id="selectCoupon" resultType="CouponDto">
		select * from coupon where coupon_num=#{param}
	</select>

</mapper>        