<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koitt.tim.dao.coupon.CouponDao">

	<select id="selectAllMemCoupon" resultType="CouponDto">
		select COUPON.COUPON_NUM,COUPON.COUPON_NAME,COUPON.COUPON_TYPE,COUPON.COUPON_PAY from COUPON, COUPON_MEMBER where COUPON_MEMBER.ID = #{id} and COUPON_MEMBER.COUPON_NUM = COUPON.COUPON_NUM
	</select>

	<select id="selectCountCoupon" resultType="int">
		select count(*) from COUPON_MEMBER where COUPON_MEMBER.ID = #{id}
	</select>

	<select id="selectAllMemberCoupon" resultType="CouponDto">
		select * from COUPON_MEMBER

	</select>
</mapper>