<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koitt.tim.dao.product.MainProductDao">
	<insert id="insertMProduct">
		insert into main_product 
		values (#{p1}, 0, 0, 0, 0)
	</insert>

	<delete id="deleteMProduct">
		delete MAIN_PRODUCT where PRO_NUM = #{param1}
	</delete>
</mapper>