<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koitt.tim.dao.product.ProductDao">
    <select id="selectProduct" resultType="com.koitt.tim.dto.product.ProductDto">
        select * from PRODUCT
    </select>

    <select id="selectProductOne" resultType="ProductDto">
        select * from PRODUCT where PRO_NUM=#{pro_num}
    </select>

	<!--  product insert -->
	<insert id="insertProduct" parameterType="ProductDto">
		insert into product 
		values(#{pro_num},#{product_name},#{supply_price},#{product_price},#{sales_price},#{amount},
		#{product_state},#{manufacturer},#{nutrient},#{product_kcal},#{shelf_life},#{packing},#{capacity},
		#{front_image1},#{front_image2},#{front_image3},#{back_image},
		sysdate,sysdate)
	</insert>

</mapper>