<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koitt.tim.dao.product.ProductSerialDao">

	<insert id="insertProductSerial" parameterType="ProductSerialDto">
		<selectKey keyProperty="pro_num" resultType="String" order="BEFORE">
			select concat(#{cate_code_d1},concat(#{cate_code_d2},lpad(product_seq.nextval,3,0))) from dual
		</selectKey>
		insert into PRODUCT_SERIAL  
		values(#{pro_num},#{cate_code_d1},#{cate_code_d2})
	</insert>
	
	<!-- select serial -->
	<select id="selectAllSerial" resultType="ProductSerialDto">
		select * from product_serial
	</select>
</mapper>