<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koitt.tim.dao.product.RelatedProductDao">
	<select id="selectAllRProduct" resultType="RelatedProductWithNameDto">
		select rp.*, p.PRODUCT_NAME from related_product rp, PRODUCT p where rp.PRO_NUM = p.PRO_NUM order by p.UPDATE_DATE
	</select>

	<insert id="insertRProduct">
		insert into related_product (pro_num) VALUES (#{p1})
	</insert>

	<update id="insertRProductEach">
		update related_product set ${p1} = #{p2} where pro_num = #{p3}
	</update>

	<update id="updateRProduct">
		update related_product set ${p1} = null where pro_num = #{p2}
	</update>

	<delete id="deleteRProduct">
		delete RELATED_PRODUCT where PRO_NUM = #{param1}
	</delete>

	<select id="selectRelatedList" resultType="RelatedProductDto">
		select * from RELATED_PRODUCT where PRO_NUM = #{pro_num}
	</select>
</mapper>
