<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koitt.tim.dao.payment.PaymentDao">
    <!--<select id="selectOne" resultType="ProductDto">
        select * from PRODUCT where PRO_NUM = #{pro_num}
    </select>
    -->

<select id="selectPaymentInfo" resultType="PaymentDto">
    select p.* from PAYMENT p, "ORDER" o where p."o_num" = o."o_num" and p."o_num"=#{param1}
</select>

<!-- 결제생성 -->
<insert id="insertPaymentOne">
	insert into payment values(#{o_num},#{o_way},
	<choose>
		<when test="o_way.equals('카드결제')||o_way.equals('실시간계좌이체')">
		 <![CDATA[sysdate ]]>,
		</when>
		<otherwise>
		'',
		</otherwise>
	</choose>
#{o_sum},#{o_coupon_num},#{bank},#{bank_name})
</insert>

<select id="selectPaymentOne" resultType="PaymentDto">
	select * from payment where "o_num"=#{o_num}
</select>

</mapper>